.contact-page-container {
    margin: 0 !important;
}
.details-contact-form {
    max-width: 500px !important;
    min-width: 240px !important;
}
.form-group-display {
    background-color: white;
    box-shadow: 1px 1px 3px #c2c1c1;
    border-radius: 10px;
}
.icon-display {
    padding: 25px !important;
}
.no-icon-display {
    padding: 39px !important;
}
.form-display {
    padding: 0 !important;
    width: calc(100% - 84px) !important;
}
.label-display {
    margin-top: 8px !important;
    margin-bottom: 0 !important;
}
.input-display {
    border-color: lightgray !important;
    padding: 0 !important;
    margin-bottom: 2px !important;
    font-size: calc(12px + 0.2vw) !important;
    min-height: 40px;
}
.contact-me-button {
    min-width: 110px;
}
.details-title h3 {
    padding-bottom: 5px;
}
.details-content {
    padding-bottom: 30px;
    text-align: right;
}
.toast-display {
    width: 30vw;
}
.alert-fixed {
    position:fixed;
    top: 65px;
    left: 0;
    width: 100%;
    z-index:9999;
    border-radius:0
}