.front-page {
    font-size: calc(16px + 1vw);
    width: inherit;
}

.background-with-aga {
    width: 100%;
    height: 100vh;
    background: url("../aga-rocks.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: unset;
    opacity: 0.9;
    position: relative;
    color: white;
}
.picture-title {
    position: absolute;
    padding-top: 40vh;
    padding-left: 5vw;
    font-size: calc(18px + 3vw);
}
.picture-extra-information {
    position: absolute;
    padding-top: 80vh;
    padding-left: 5vw;
    font-size: calc(16px + 1vw);
}
.portfolio-title {
    text-align: center;
    padding-top: 5%;
}
.portfolio-item {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 3px #c2c1c1;
}
.portfolio-cover {
    margin: 2.5% 10%;
    width: inherit;
    position: relative;
}
.portfolio-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}
.hovered-filter {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    top: 0;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background-color: #FF6969;
}
.portfolio-cover:hover .portfolio-image {
    opacity: 0.7;
}
.portfolio-cover:hover .hovered-filter {
    opacity: 0.7;
}
.portfolio-text {
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 5%;
    font-size: 5vw;
    color: white;
    text-align: right;
}
.portfolio-details {
    font-size: 2.4vw;
}

@media all and (min-width: 0px) and (max-width: 500px) {
    .portfolio-title {
        padding-top: 15%;
    }

    .portfolio-image {
        opacity: 1;
    }

    .portfolio-text {
        background-color: #FF6969;
        opacity: 0.7;
        padding-right: 5%
    }

    .portfolio-details {
        margin-bottom: 0;
    }

    .hovered-filter {
        opacity: 1;
        background-color: transparent;
    }
}