
.background-with-aga {
    position: relative;
    margin-top: 56px;
}
.overlay-box {
    position: absolute;
    top: 10%;
    left: 5%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    min-width: 300px;
    width: 35%;
    background: rgba(196, 196, 196, 0.7);
    color: #2D394E;
}
.overlay-title {
    font-family: 'Playfair Display', serif;
    font-size: calc(40px + 1vw);
}
.overlay-subtitle {
    font-family: 'Playfair Display', serif;
    font-size: calc(26px + 1vw);
    margin-bottom: 5px;
}
.overlay-description {
    font-size: calc(8px + 1vw);
    font-weight: lighter;
    margin-bottom: 30px;
}
.portfolio-item {
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 3px #c2c1c1;
}
.portfolio-cover {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
}
.portfolio-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}
.hovered-filter {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    top: 0;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background-color: #FF6969;
}
.portfolio-cover:hover .portfolio-image {
    opacity: 0.7;
}
.portfolio-cover:hover .hovered-filter {
    opacity: 0.7;
}
.portfolio-text {
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 5%;
    font-size: 5vw;
    color: white;
    text-align: right;
}
.portfolio-details {
    font-size: 2.4vw;
}

@media all and (min-width: 700px) and (max-width: 1000px) {
    .overlay-box {
        width: 45%;
    }
}

@media all and (min-width: 0px) and (max-width: 700px) {
    .overlay-box {
        position: relative;
        left: 0;
        padding: 10%;
        min-width: 300px;
        width: 100%;
        background-color: #F3F2F2;
    }
    .overlay-description {
        font-size: 16px;
    }
}

@media all and (min-width: 0px) and (max-width: 500px) {
    .portfolio-item {
        width: 100%;
        height: 100%;
    }

    .portfolio-image {
        opacity: 1;
    }

    .portfolio-text {
        background-color: #FF6969;
        opacity: 0.7;
        padding-right: 5%;
    }

    .portfolio-details {
        margin-bottom: 0;
        font-size: 3.8vw;
        line-height: 125%;
    }

    .hovered-filter {
        opacity: 1;
        background-color: transparent;
        margin-left: 0;
        width: 100%;
    }
}