.resume-title {
    margin: 20px 0;
    color: #D09D94;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.resume-text {
    margin-bottom: 50px;
}
.resume-footer {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.resume-footer a {
    color: #515C6F;
    padding-right: 100px;
}