.resume-title {
    margin-top: 5%;
    margin-bottom: 2.3%;
    font-size: calc(18px + 1vw);
}
.resume-text {
    margin-bottom: 50px;
    font-size: calc(14px + 0.4vw);
}
.resume-footer {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.resume-footer a {
    color: #515C6F;
    padding-right: 100px;
}