@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');

.common-app {
    color: #515C6F;
    font-family: 'Playfair Display', serif;
}

/*************Nav Bar*************/
.navbar-name {
    vertical-align: middle;
    font-family: 'Allura', cursive;
    font-size: 15px;
}

.navbar {
    background-color: #F3F2F2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid gray;
}

.navbar a {
    color: #515C6F;
    font-size: 20px;
    margin-right: 50px;
}

/***********Front PAGE************/
.front-page {
    font-size: calc(16px + 1vw);
    width: inherit;
    padding-bottom: 100px;
}

.background-with-aga {
    width: 100%;
    height: 100vh;
    background: url("resources/aga-rocks.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: unset;
    opacity: 0.9;
    position: relative;
    color: white;
    text-shadow: 2px 2px gray;
}

.picture-title {
    position: absolute;
    padding-top: 40vh;
    padding-left: 5vw;
    font-size: calc(18px + 3vw);
}

.picture-extra-information {
    position: absolute;
    padding-top: 80vh;
    padding-left: 5vw;
    font-size: calc(16px + 1vw);
}

.portfolio-title {
    text-align: center;
    padding-top: 5%;
}

.portfolio-item {
    width: 100%;
    height: 100%;
}

.portfolio-cover {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    width: inherit;
    position: relative;
}

.portfolio-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.hovered-filter {
    width: 100%;
    height: 100%;
    top: 0;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background-color: #FF6969;
}

.portfolio-cover:hover .portfolio-image {
    opacity: 0.7;
}

.portfolio-cover:hover .hovered-filter {
    opacity: 0.7;
}

.portfolio-text {
    position: absolute;
    padding-top: 10%;
    padding-left: 60%;
    font-size: 5vw;
    color: white;
    text-shadow: 2px 2px gray;
    text-align: right;
    width: 90%;
}

.portfolio-details {
    font-size: 2.4vw;
}

/**********RESUME PAGE************/
.resume-page {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 62px;
    font-size: calc(14px + 0.4vw);
    width: 100%;
    height: 100%;
}

.resume-title {
    padding-top: 5%;
    padding-bottom: 2.3%;
    font-size: calc(18px + 1vw);
}

.resume-text {
    padding-bottom: 100px
}

.resume-footer {
    margin-left: 0 !important;
}

.resume-footer a {
    color: #515C6F;
    padding-right: 100px;
}

/**********ABOUT PAGE************/
.about-page {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: inherit;
}

.about-picture {
    width: 60%;
}

.about-title {
    font-size: calc(18px + 3vw);
    text-align: center;
}

.about-text {
    margin-top: 40px;
    font-size: calc(12px + 0.6vw);
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: left;
}

.about-text p {
    margin-bottom: 30px;
}

/**********CONTACT PAGE************/

.contact-page {
    width: 100%;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.form-group-display {
    background-color: white;
    width: 30vw;

    box-shadow: 1px 1px 3px #c2c1c1;
}

.button-display {
    position: relative;
    width: 16vw;
    min-width: 110px;
    border-radius: 19px !important;
    background-color: #FF6969 !important;
    border-color: #FF6969 !important;
    box-shadow: 2px 2px 8px #FF6969;
}

.arrow-display {
    background-color: white;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    min-width: 18px;
    display: inline-block;
    position: absolute;
    right: 0.5vw;
}

.icon-display {
    width: 70px;
    height: 70px;

    min-width: 28px;
    min-height: 28px;

    vertical-align: middle;
    text-align: center;
}

.icon-size {
    width: 28px;
    height: 28px;
}

.label-display {
    margin-bottom: 0;
    font-size: 12px;
    color: #B9BEC7;
}

.input-display {
    border-color: white !important;
    padding: 0 !important;
    width: 25vw !important;
    font-size: calc(12px + 0.2vw) !important;
}

.td-custom {
    vertical-align: middle;
}

.contact-info {
    vertical-align: top;
}

.table-contact-info {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    font-size: calc(12px + 0.2vw);
}

.table-contact-info tr {
    height: calc(50px + 5vw);
}

.table-contact-info h2 {
    font-size: calc(16px + 1vw);
}

/**********PORTFOLIO PAGE************/
.portfolio-page {
    padding-top: 68px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
}

.project-title {
    text-align: center;
    padding-top: 40px;
}

.project-title h1, h2 {
    padding-bottom: 20px;
}

.description-with-title {
    text-align: left;
    padding: 50px;
    padding-bottom: 0;
}

.description-with-title h2 {
    padding-bottom: 20px;
}

.description-with-title td {
    padding-left: 50px;
}

.image-shading {
    box-shadow: 1px 1px 3px #c2c1c1;
    min-width: 200px;
    margin-top: 8px;
}