@media all and (min-width:0px) and (max-width: 500px) {

    /***********Front PAGE************/

    .portfolio-title {
        padding-top: 15%;
    }

    /**********RESUME PAGE************/

    .resume-text {
        padding-bottom: 50px
    }

    .resume-footer-spacing {
        padding-bottom: 20px;
    }

    /**********ABOUT PAGE************/

    .about-picture {
        width: 80%;
    }

    .about-text {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    /**********CONTACT PAGE************/

    .contact-page {
        width: 100%;
        padding-top: 100px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 100px;
    }

    .form-group-display {
        background-color: white;
        width: 30vw;

        box-shadow: 1px 1px 3px #c2c1c1;
    }

    .frontpage-button-display {
        width: 200px;
        box-shadow: 2px 2px 8px #515c6f;
        border-radius: 19px !important;
        background-color: #FF6969 !important;
        border-color: #FF6969 !important;
    }

    .contact-me-button {
        position: relative;
        box-shadow: 2px 2px 8px #FF6969;
        border-radius: 19px !important;
        background-color: #FF6969 !important;
        border-color: #FF6969 !important;
        margin-bottom: 1rem;
        min-width: 110px;
        width: 16vw;
    }

    .toast-display {
        width: 30vw;
    }

    .alert-fixed {
        position:fixed;
        top: 65px;
        left: 0;
        width: 100%;
        z-index:9999;
        border-radius:0
    }

    .arrow-display {
        background-color: white;
        border-radius: 12px;
        width: 24px;
        height: 24px;
        min-width: 18px;
        display: inline-block;
        position: absolute;
        right: 0.5vw;
    }

    .icon-display {
        width: 70px;
        height: 70px;

        min-width: 28px;
        min-height: 28px;

        vertical-align: middle;
        text-align: center;
    }

    .icon-size {
        width: 28px;
        height: 28px;
    }

    .label-display {
        margin-bottom: 0;
        font-size: 12px;
        color: #B9BEC7;
    }

    .input-display {
        border-color: white !important;
        padding: 0 !important;
        width: 25vw !important;
        font-size: calc(12px + 0.2vw) !important;
    }

    .td-custom {
        vertical-align: middle;
    }

    .contact-info {
        vertical-align: top;
    }

    .table-contact-info {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
        font-size: calc(12px + 0.2vw);
    }

    .table-contact-info tr {
        height: calc(50px + 5vw);
    }

    .table-contact-info h2 {
        font-size: calc(16px + 1vw);
    }

    /**********PORTFOLIO PAGE************/

    .description-with-title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .description-without-title {
        padding-left: 15px;
        padding-right: 15px;
    }
}