@media all and (min-width:0px) and (max-width: 500px) {

    /***********Front PAGE************/

    .portfolio-title {
        padding-top: 15%;
    }

    .portfolio-image {
        opacity: 1;
    }

    .hovered-filter {
        opacity: 1;
        background-color: transparent;
    }

    /**********RESUME PAGE************/

    .resume-text {
        padding-bottom: 50px
    }

    .resume-footer-spacing {
        padding-bottom: 20px;
    }

    /**********ABOUT PAGE************/

    .about-me-picture {
        width: 80%;
    }

    .about-me-text {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

@media all and (min-width:0px) and (max-width: 680px) {
    /**********CONTACT PAGE************/

    .contact-form {
        max-width: 70vw !important;
        min-width: 70vw !important;
    }

    .input-display {
        width: 45vw !important;
    }
}