@media all and (min-width:0px) and (max-width: 500px) {

    /***********Front PAGE************/

    .portfolio-title {
        padding-top: 15%;
    }

    /**********RESUME PAGE************/

    .resume-text {
        padding-bottom: 50px
    }

    .resume-footer-spacing {
        padding-bottom: 20px;
    }

    /**********ABOUT PAGE************/

    .about-picture {
        width: 80%;
    }

    .about-text {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    /**********PORTFOLIO PAGE************/

    .description-with-title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .description-without-title {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (min-width:0px) and (max-width: 680px) {
    /**********CONTACT PAGE************/

    .contact-page {
        width: 100%;
        padding-top: 100px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 100px;
    }

    .contact-form {
        max-width: 70vw !important;
        min-width: 70vw !important;
    }

    .form-group-display {
        background-color: white;
        box-shadow: 1px 1px 3px #c2c1c1;
        border-radius: 10px;
    }

    .icon-display {
        padding: 25px !important;
    }

    .no-icon-display {
        padding: 39px !important;
    }

    .form-display {
        padding-left: 0 !important;
    }

    .input-display {
        border-color: white !important;
        padding: 0 !important;
        margin-bottom: 2px !important;
        width: 47vw !important;
        font-size: calc(12px + 0.2vw) !important;
        min-height: 40px;
    }
}